/elasticsearch-5.5.2.rpm
/elasticsearch-cloud-kubernetes-5.5.2.zip
/elasticsearch-prometheus-exporter-5.5.2.0.zip
/openshift-elasticsearch-plugin-5.5.2.1.zip
/elasticsearch-5.6.9.rpm
/elasticsearch-cloud-kubernetes-5.6.9.zip
/elasticsearch-prometheus-exporter-5.6.9.0.zip
/openshift-elasticsearch-plugin-5.6.9.0-SNAPSHOT.zip
/openshift-elasticsearch-plugin-5.6.9.0.zip
/elasticsearch-cloud-kubernetes-5.6.9.2.zip
/openshift-elasticsearch-plugin-5.6.9.1.zip
